Magic 271485
Revision Verdi_V-2023.12-SP2-5

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 886 274 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/bitsilica/SAT/ajay/new_coralNPU/sim/build/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 404.000000
cursor 55.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 56

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "AXI_master_if" -e FALSE
addSubGroup "AXI_master_if-w" -e FALSE
activeDirFile "" "/home/bitsilica/SAT/ajay/new_coralNPU/sim/build/inter.fsdb"
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX -holdScope wdata[127:0]
addSignal -h 15 -holdScope wlast
addSignal -h 15 -holdScope wready
addSignal -h 15 -UNSIGNED -HEX -holdScope wstrb[15:0]
addSignal -h 15 -holdScope wuser[0:0]
addSignal -h 15 -holdScope wvalid
endSubGroup "AXI_master_if-w"
addSubGroup "AXI_master_if-b" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX -holdScope bid[5:0]
addSignal -h 15 -holdScope bready
addSignal -h 15 -UNSIGNED -holdScope bresp[1:0]
addSignal -h 15 -holdScope buser[0:0]
addSignal -h 15 -holdScope bvalid
endSubGroup "AXI_master_if-b"
addSubGroup "AXI_master_if-aw" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX -holdScope awaddr[31:0]
addSignal -h 15 -UNSIGNED -holdScope awburst[1:0]
addSignal -h 15 -UNSIGNED -holdScope awcache[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awid[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awlen[7:0]
addSignal -h 15 -holdScope awlock
addSignal -h 15 -UNSIGNED -holdScope awprot[2:0]
addSignal -h 15 -UNSIGNED -holdScope awqos[3:0]
addSignal -h 15 -holdScope awready
addSignal -h 15 -UNSIGNED -holdScope awregion[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awsize[3:0]
addSignal -h 15 -holdScope awuser[0:0]
addSignal -h 15 -holdScope awvalid
endSubGroup "AXI_master_if-aw"
addSubGroup "AXI_master_if-ar" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX -holdScope araddr[31:0]
addSignal -h 15 -UNSIGNED -holdScope arburst[1:0]
addSignal -h 15 -UNSIGNED -holdScope arcache[3:0]
addSignal -h 15 -holdScope aresetn
addSignal -h 15 -UNSIGNED -HEX -holdScope arid[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arlen[7:0]
addSignal -h 15 -holdScope arlock
addSignal -h 15 -UNSIGNED -holdScope arprot[2:0]
addSignal -h 15 -UNSIGNED -holdScope arqos[3:0]
addSignal -h 15 -holdScope arready
addSignal -h 15 -UNSIGNED -holdScope arregion[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arsize[3:0]
addSignal -h 15 -holdScope aruser[0:0]
addSignal -h 15 -holdScope arvalid
endSubGroup "AXI_master_if-ar"
addSubGroup "AXI_master_if-r" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX -holdScope rdata[127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rid[5:0]
addSignal -h 15 -holdScope rlast
addSignal -h 15 -holdScope rready
addSignal -h 15 -UNSIGNED -holdScope rresp[1:0]
addSignal -h 15 -holdScope ruser[0:0]
addSignal -h 15 -holdScope rvalid
endSubGroup "AXI_master_if-r"
addGroup "AXI_slave_if" -e FALSE
addSubGroup "G3-CB" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX /coralnpu_top_tb/slave_if/drv_cb_slave/araddr[31:0]
addSignal -h 15 -UNSIGNED -holdScope arburst[1:0]
addSignal -h 15 -UNSIGNED -holdScope arcache[3:0]
addSignal -h 15 -holdScope aresetn
addSignal -h 15 -UNSIGNED -HEX -holdScope arid[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arlen[7:0]
addSignal -h 15 -holdScope arlock
addSignal -h 15 -UNSIGNED -holdScope arprot[2:0]
addSignal -h 15 -UNSIGNED -holdScope arqos[3:0]
addSignal -h 15 -holdScope arready
addSignal -h 15 -UNSIGNED -holdScope arregion[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arsize[3:0]
addSignal -h 15 -holdScope aruser[0:0]
addSignal -h 15 -holdScope arvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope awaddr[31:0]
addSignal -h 15 -UNSIGNED -holdScope awburst[1:0]
addSignal -h 15 -UNSIGNED -holdScope awcache[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awid[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awlen[7:0]
addSignal -h 15 -holdScope awlock
addSignal -h 15 -UNSIGNED -holdScope awprot[2:0]
addSignal -h 15 -UNSIGNED -holdScope awqos[3:0]
addSignal -h 15 -holdScope awready
addSignal -h 15 -UNSIGNED -holdScope awregion[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awsize[3:0]
addSignal -h 15 -holdScope awuser[0:0]
addSignal -h 15 -holdScope awvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope bid[5:0]
addSignal -h 15 -holdScope bready
addSignal -h 15 -UNSIGNED -holdScope bresp[1:0]
addSignal -h 15 -holdScope buser[0:0]
addSignal -h 15 -holdScope bvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope rdata[127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rid[5:0]
addSignal -h 15 -holdScope rlast
addSignal -h 15 -holdScope rready
addSignal -h 15 -UNSIGNED -holdScope rresp[1:0]
addSignal -h 15 -holdScope ruser[0:0]
addSignal -h 15 -holdScope rvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope wdata[127:0]
addSignal -h 15 -holdScope wlast
addSignal -h 15 -holdScope wready
addSignal -h 15 -UNSIGNED -HEX -holdScope wstrb[15:0]
addSignal -h 15 -holdScope wuser[0:0]
addSignal -h 15 -holdScope wvalid
addSignal -h 15 -UNSIGNED -HEX /coralnpu_top_tb/slave_if/mon_cb_slave/araddr[31:0]
addSignal -h 15 -UNSIGNED -holdScope arburst[1:0]
addSignal -h 15 -UNSIGNED -holdScope arcache[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arid[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arlen[7:0]
addSignal -h 15 -holdScope arlock
addSignal -h 15 -UNSIGNED -holdScope arprot[2:0]
addSignal -h 15 -UNSIGNED -holdScope arqos[3:0]
addSignal -h 15 -holdScope arready
addSignal -h 15 -UNSIGNED -holdScope arregion[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arsize[3:0]
addSignal -h 15 -holdScope aruser[0:0]
addSignal -h 15 -holdScope arvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope awaddr[31:0]
addSignal -h 15 -UNSIGNED -holdScope awburst[1:0]
addSignal -h 15 -UNSIGNED -holdScope awcache[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awid[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awlen[7:0]
addSignal -h 15 -holdScope awlock
addSignal -h 15 -UNSIGNED -holdScope awprot[2:0]
addSignal -h 15 -UNSIGNED -holdScope awqos[3:0]
addSignal -h 15 -holdScope awready
addSignal -h 15 -UNSIGNED -holdScope awregion[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awsize[3:0]
addSignal -h 15 -holdScope awuser[0:0]
addSignal -h 15 -holdScope awvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope bid[5:0]
addSignal -h 15 -holdScope bready
addSignal -h 15 -UNSIGNED -holdScope bresp[1:0]
addSignal -h 15 -holdScope buser[0:0]
addSignal -h 15 -holdScope bvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope rdata[127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rid[5:0]
addSignal -h 15 -holdScope rlast
addSignal -h 15 -holdScope rready
addSignal -h 15 -UNSIGNED -holdScope rresp[1:0]
addSignal -h 15 -holdScope ruser[0:0]
addSignal -h 15 -holdScope rvalid
addSignal -h 15 -UNSIGNED -HEX -holdScope wdata[127:0]
addSignal -h 15 -holdScope wlast
addSignal -h 15 -holdScope wready
addSignal -h 15 -UNSIGNED -HEX -holdScope wstrb[15:0]
addSignal -h 15 -holdScope wuser[0:0]
addSignal -h 15 -holdScope wvalid
endSubGroup "G3-CB"
addSubGroup "G3-W" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX /coralnpu_top_tb/slave_if/wdata[127:0]
addSignal -h 15 -holdScope wlast
addSignal -h 15 -holdScope wready
addSignal -h 15 -UNSIGNED -HEX -holdScope wstrb[15:0]
addSignal -h 15 -holdScope wuser[0:0]
addSignal -h 15 -holdScope wvalid
endSubGroup "G3-W"
addSubGroup "G3-R" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX /coralnpu_top_tb/slave_if/rdata[127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rid[5:0]
addSignal -h 15 -holdScope rlast
addSignal -h 15 -holdScope rready
addSignal -h 15 -UNSIGNED -holdScope rresp[1:0]
addSignal -h 15 -holdScope ruser[0:0]
addSignal -h 15 -holdScope rvalid
endSubGroup "G3-R"
addSubGroup "G3-B" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX /coralnpu_top_tb/slave_if/bid[5:0]
addSignal -h 15 -holdScope bready
addSignal -h 15 -UNSIGNED -holdScope bresp[1:0]
addSignal -h 15 -holdScope buser[0:0]
addSignal -h 15 -holdScope bvalid
endSubGroup "G3-B"
addSubGroup "G3-AW" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX /coralnpu_top_tb/slave_if/awaddr[31:0]
addSignal -h 15 -UNSIGNED -holdScope awburst[1:0]
addSignal -h 15 -UNSIGNED -holdScope awcache[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awid[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awlen[7:0]
addSignal -h 15 -holdScope awlock
addSignal -h 15 -UNSIGNED -holdScope awprot[2:0]
addSignal -h 15 -UNSIGNED -holdScope awqos[3:0]
addSignal -h 15 -holdScope awready
addSignal -h 15 -UNSIGNED -holdScope awregion[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope awsize[3:0]
addSignal -h 15 -holdScope awuser[0:0]
addSignal -h 15 -holdScope awvalid
endSubGroup "G3-AW"
addSubGroup "G3-AR" -e FALSE
addSignal -h 15 /coralnpu_top_tb/master_if/aclk
addSignal -h 15 -UNSIGNED -HEX /coralnpu_top_tb/slave_if/araddr[31:0]
addSignal -h 15 -UNSIGNED -holdScope arburst[1:0]
addSignal -h 15 -UNSIGNED -holdScope arcache[3:0]
addSignal -h 15 -holdScope aresetn
addSignal -h 15 -UNSIGNED -HEX -holdScope arid[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arlen[7:0]
addSignal -h 15 -holdScope arlock
addSignal -h 15 -UNSIGNED -holdScope arprot[2:0]
addSignal -h 15 -UNSIGNED -holdScope arqos[3:0]
addSignal -h 15 -holdScope arready
addSignal -h 15 -UNSIGNED -holdScope arregion[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arsize[3:0]
addSignal -h 15 -holdScope aruser[0:0]
addSignal -h 15 -holdScope arvalid
endSubGroup "G3-AR"
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/bitsilica/SAT/ajay/new_coralNPU/sim/build/inter.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/coralnpu_top_tb"
"/coralnpu_top_tb/slave_if"

SCOPE_LIST_BEGIN
"/coralnpu_top_tb"
"/coralnpu_top_tb/master_if"
"/coralnpu_top_tb/slave_if"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


